.Cookieswrapper{
    
    position: fixed;
    z-index: 50;
    bottom: 1%;
    right: 1%;
    width: 365px;
    background: #fff;
    padding: 25px 25px 25px 25px;
    border-radius: 15px;
    box-shadow: 1px 7px 14px -5px rgba(0,0,0,0.15);
    text-align: center;
    box-shadow: 0 -2px 16px rgba(32, 32, 32, 0.15);
  }

  .Cookieswrapper.hide{
    opacity: 0;
    pointer-events: none;
    transform: scale(0.8);
    transition: all 0.3s ease;
  }
  
  .Cookieswrapper img{
    max-width: 80px;
    object-position: center ;
    margin-left: auto;
    margin-right: auto;
  }
  .Cookiescontent header{
    font-size: 25px;
    font-weight: 600;
  }
  .Cookiescontent{
    margin-top: 10px;
  }
  .Cookiescontent p{
    color: #858585;
    margin: 5px 0 20px 0;
  }
  .Cookiescontent .Cookiesbuttons{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .Cookiesbuttons button{
    padding: 10px 20px;
    border: none;
    outline: none;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    border-radius: 5px;
    background: #000000;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .Cookiesbuttons button:hover{
    transform: scale(0.97);
  }
  .Cookiesbuttons .Cookiesitem{
    margin: 0 10px;
  }
  .Cookiesbuttons a{
    color: #000000;
  }
  
  @media only screen and (max-width: 600px) {
    .Cookieswrapper{
      width: 250px;
    }
    .Cookiescontent header{
      font-size: 15px;
      font-weight: 600;
    }
    .Cookiescontent p{
      font-size: small;
    }
    .Cookiescontent .Cookiesbuttons{
      font-size: small;
    }
    .Cookiesbuttons .Cookiesitem{
      font-size: 11px;
    }
  
    .Cookiesbuttons a{
      color: #000000;
      font-size: small;
    }
    .Cookieswrapper img{
        max-width: 40px;
        
      }
   
  }