.brandlogos{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
 
 .media-images {
    margin: 2rem;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .media-images__image {
    margin: 1rem;
  }
  
  .media-images.media-images--config-width .media-images__image {
    width: 6.25rem;
  }
  
  .media-images.media-images--config-height .media-images__image {
    height: 1.5rem;
  }