  .TechnologiesHeader-wrapper {
    background-image: url("../../../assets/democover.jpg");
    line-height: 1;
    min-height: 50%;
    display: grid;
    place-items: center;
    min-height: calc(50vh - 16px);
    filter: drop-shadow(0 0.9rem 0.25rem rgba(0, 0, 0, 0.2));
    padding: 1.5rem;   
    text-align: center;
    margin-top: -5%;
    @media screen and (max-width: 650px) {
    padding-top: 30%;
    }
    
    
  }
  :root {
    --color-1TG: #186cb8;
    --color-2TG: #2a9a9f;
    --color-3TG: #f1b211;
    --color-4TG: #e83611;
    --color-5TG: #f9002f;
  }
  .TechnologiesHeader-container h1 {
    max-width: fit-content;
    background: linear-gradient(219deg, 
      var(--color-1TG) 19%, 
      transparent 19%,transparent 20%, 
      var(--color-2TG) 20%, var(--color-2TG)  39%,
      transparent 39%,transparent 40%, 
      var(--color-3TG) 40%,var(--color-3TG) 59% ,
      transparent 59%,transparent 60%, 
      var(--color-4TG) 60%, var(--color-4TG) 79%,
      transparent 79%, transparent 80%, 
      var(--color-5TG) 80%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.7));
    z-index: 1;
  }
   
  