@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(255, 255, 255)
  
}

* {
  margin: 0;
  padding: 0;
  
}


.hidden-contact {
  position: absolute;
  left: -9999px;
  visibility: hidden;
}

