@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(255, 255, 255);
}

* {
  margin: 0;
  padding: 0;
}


.typed-out{
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  

  :root {
    --color-1TG: #186cb8;
    --color-2TG: #2a9a9f;
    --color-3TG: #f1b211;
    --color-4TG: #e83611;
    --color-5TG: #f9002f;
  }