.glass{
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border:1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  @media only screen and (max-width: 600px) {
    margin-left: 10px;
    margin-right: 10px;
  }
}


.glass1{
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border:1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);

}


/*--HomeSection1 start--*/
.backgroundhome1{
    background-image: url("https://raw.githubusercontent.com/akhilthej/CSD_Website/c0e90c848cb2836260b67579651d263d248621de/src/assets/Common/community.jpg");
    position: relative;
    bottom: 0%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: calc(50vh - 16px);
    filter: drop-shadow(0 0.9rem 0.25rem rgba(0, 0, 0, 0.2));

} 

/*----homesidecard1 start---*/
.homesidecard1{

 .backgroundhome2 {
  margin: auto;
  display: flex;
  image-rendering: optimizeSpeed;
  max-width: 350px;
  height: auto;
  padding-bottom: 50px;
  @media only screen and (max-width: 600px) {
    width: 40%;
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
  }
}
h2{
  position: relative;
 font-size: 50px;
 font-weight: 900;
 text-align: center;
 padding-bottom: auto;
}
p{
  font-size: 20px;
  padding-left: 20px;
 padding-right: 20px;
 padding-top: auto;
 padding-bottom: auto;
}

@media only screen and (max-width: 600px) {
  h2 {font-size: 35px;}
  p {font-size: 15px;}
  padding-top: 0px;
}
}
/*----homesidecard1 end---*/

/*---Countdown---*/


/*---countdown end---*/

/*--circle glow---*/
:root {
  --light-blue: rgb(252,224,14);
  --dark-blue:rgb(255,116,140);
  --violet: rgb(253,126,23);
  
  --background-left: rgb(0, 0, 0);
  --background-right: rgb(0, 0, 0);
  
  --conic-gradient: conic-gradient(
    var(--dark-blue), 
    var(--violet), 
    var(--light-blue),
    var(--dark-blue)
  );
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  
  to {
    transform: rotate(360deg);
  }
}

@keyframes pulse {
  from, 20%, 40%, 80%, to {
    transform: scale(1);
  }
  
  10%, 60% {
    transform: scale(1.1);
  }
}


#background {
  background: linear-gradient(
    to right, 
    var(--background-left), 
    var(--background-right)
  );
  height: 100vh;
  margin: 0px;
  overflow: hidden;
  padding: 0px;

  display: grid;
  inset: 0px;  
  place-items: center;
  position: fixed;
  z-index: -2;
}
#circle {
  animation: rotate 2s linear infinite;
  margin-top: -150px;
  background: var(--conic-gradient);
  border-radius: 70vh;
  display: grid;
  filter: blur(1.5vh);
  height: 70vh;
  place-items: center;
  position: relative;
  width: 70vh;
}

#circle-inner {
  border-radius: inherit;
  inset: 5%;
  position: absolute;
}

#circle-glow {
  /*animation: pulse 10s ease-in-out infinite;*/
  background: var(--conic-gradient);
  border-radius: 100vh;
  filter: blur(3vh);
  height: 120%;
  opacity: 0.25;
  width: 120%;
  z-index: -1;
}

#circle-inner {
  background: linear-gradient(
    to right, 
    var(--background-left), 
    var(--background-right)
  );
  z-index: 0;
}

#app {
  display: grid;
  height: 100vh;
  place-items: center;
  position: relative;
  width: 100vw;
  z-index: -1;
} 

.glowspear {
  position: fixed;
  overflow: hidden;
  top: calc(0% - 150px);
  left: calc(0% - 150px);
  width: 300px;
  height: 300px;
  border-radius: 50%;
  z-index: -1;
  box-shadow:
    inset 0 0 50px #fce00e,
    inset 20px 0 80px #ff748c,
    inset -20px 0 80px #fd7e17,
    inset 20px 0 300px #ff748c,
    inset -20px 0 300px #fd7e17,
    0 0 50px #fce00e,
    -10px 0 80px #ff748c,
    10px 0 80px #fd7e17;

}
.glowspear1 {
  position: fixed;
  overflow: hidden;
  top: calc(80% - 150px);
  left: calc(100% - 150px);
  width: 300px;
  height: 300px;
  border-radius: 50%;
  z-index: -1;
  box-shadow:
    inset 0 0 50px #fce00e,
    inset 20px 0 80px #ff748c,
    inset -20px 0 80px #fd7e17,
    inset 20px 0 300px #ff748c,
    inset -20px 0 300px #fd7e17,
    0 0 50px #fce00e,
    -10px 0 80px #ff748c,
    10px 0 80px #fd7e17;

}