.backgroundhome1{
    background-image: url("https://github.com/akhilthej/CSD_Website/blob/main/src/assets/Common/community.jpg");

    min-height: 50%;
  
    place-items: center;
    min-height: calc(50vh - 16px);
   
    
}