.backgroundhome1{
    background-image: url("https://raw.githubusercontent.com/akhilthej/CSD_Website/main/src/assets/Common/community.png");
    position: relative;
    bottom: 0%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: calc(50vh - 16px);
    filter: drop-shadow(0 0.9rem 0.25rem rgba(0, 0, 0, 0.2));
}

  /*--homehero start--*/
  #homeherovideo {
    position: fixed;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
    /*--homehero end--*/